.sidebarContainer{
    width: 100%;
    height: 100vh;
}

.sidebarProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.sidebarCourses{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}